<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Helpdesk</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">

<div class="text-center">
    <h1 class="mb-4">HELPDESK</h1>

    <a href="{% url 'password_change' %}" class="btn btn-primary btn-lg">
        Zmień hasło
    </a>
</div>

</body>
</html>